.NavBar{
    background-color: #F2FF00;
    border: 1px solid #242323;
    padding: 10px;
    box-shadow: 0px 10px #242323;
}

.NavLink{
    padding: 5px;
}

.Active i{
    color: #AC70A7;
}

.HeaderFont{
    font-family: 'Bungee Shade', cursive;
    font-size: 1.6rem;
}